@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.default-btn {
  border: none;
  background-color: transparent;
  padding: 12px 24px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.primary-btn {
  background-color: #2f2d6a;
  color: #ffffff;
  box-shadow: 0 6px 10px rgba(47, 45, 106, 0.3);
}

.primary-btn:hover {
  background-color: #272555;
  color: #ffffff;
  box-shadow: 0 8px 14px rgba(39, 37, 85, 0.4);
  transform: translateY(-2px);
}

.primary-btn:active {
  background-color: #1d1b49;
  box-shadow: 0 4px 6px rgba(29, 27, 73, 0.4);
  transform: translateY(0);
}

.secondary-btn {
  background-color: #e2e2e2;
  color: #2f2d6a;
  box-shadow: 0 6px 10px rgba(47, 45, 106, 0.3);
}


.rounded-login-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}