.container-boxinfo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.25rem; 
    padding: 0;
    margin-top: 2rem;
    color: black;
}

.boxinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background-color: #e7e7e7;
    padding: 1.25rem; 
    border-radius: 15px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    border-left: 5px solid #8783f1;
    position: relative;
    animation: fadeInUp 0.5s ease-in-out;
}

.boxinfo:hover {
    transform: translateY(-0.625rem); 
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2);
    background-color: #f7f7ff;
}

.card-header h2 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 0.75rem; 
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 2px solid #8783f1;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5px;
}

.card-body {
    flex-grow: 1;
    margin-bottom: 1rem; 
}

.card-body p {
    color: #555;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.6;
}

.dificulty {
    font-size: 1rem;
    color: #333;
    padding: 0.3rem 0.625rem; 
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.principiante {
    background-color: #d6ffd1 !important;
    border-color: #95fd98 !important;
}

.intermedio {
    background-color: #fff6c4 !important;
    border-color: #fdfb95 !important;
}

.avanzado {
    background-color: #fdc9c2 !important;
    border-color: #fda595 !important;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.card-footer .category {
    font-size: 1rem;
    background-color: #d1d1ff;
    color: #333;
    padding: 0.3rem 0.625rem; 
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-footer p {
    color: #999;
    font-size: 0.9rem;
}

.card-footer .status {
    font-size: 1rem;
    color: #333;
    padding: 0.3rem 0.625rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #666;
}

.card-footer .status.completed {
    background-color: #d6ffd1;
    border-color: #95fd98;
}

.card-footer .status.incomplete {
    background-color: #ffd1d1;
    border-color: #ff9890;
}

.complete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #8783f1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem; 
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.complete-btn:hover {
    background-color: #5a56b7;
    transform: scale(1.1);
}

.complete-btn.completed {
    background-color: #4caf50;
    color: white;
}

.card-btns {
    display: flex;
    gap: 0.625rem; 
    width: 100%;
    justify-content: flex-end;
}

.card-btns button {
    background-color: #8783f1; 
    color: #ffffff; 
    padding: 0.75rem 1.5rem; 
    border: none; 
    border-radius: 0.5rem; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); 
}

.card-btns button:hover, .card-btns button:focus {
    background-color: #5a56b7;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); 
    transform: translateY(-0.125rem); 
}

.complete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #8783f1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem; 
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
}

.complete-btn:hover {
    background-color: #5a56b7;
    transform: scale(1.1); 
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2); 
}

.complete-btn.completed {
    background-color: #4caf50; 
    color: white;
}

@media (max-width: 768px) {
    .card-btns button {
        padding: 0.5rem 1rem; 
        font-size: 0.9rem; 
    }

    .complete-btn {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .card-btns button {
        padding: 0.4rem 0.8rem;
        font-size: 0.85rem;
    }

    .complete-btn {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}


.header-rutina {
    display: flex;
    align-items: center;
    gap: 20%;
}

.rutina-img {
    border-radius: 12px;
    width: 30vw;
    height: auto;
    margin-top: 16px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .boxinfo {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .boxinfo {
        width: 100%;
    }

    .card-header h2 {
        font-size: 1.5rem;
    }

    .card-body p {
        font-size: 0.9rem;
    }

    .complete-btn {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .boxinfo {
        padding: 1rem;
    }

    .card-header h2 {
        font-size: 1.2rem;
    }

    .card-body p {
        font-size: 0.8rem;
    }

    .complete-btn {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}
