.sidebar {
    z-index: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    top: 80px; 
    padding-top: 2rem;  
    border-right: 1px solid rgb(135, 131, 241);  
}

.sidebar > ul > li {
    list-style: none;
}

.sidebar > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar > ul > li > button {
    width: 90%;    
    background-color: transparent;
    border-right: 1px solid rgb(135, 131, 241);  
    border-radius: 0 20px 20px 0;
    color: white;
    transition: 0.4s;
}



.sidebar > ul > li > button:hover {
    background-color: #e2e2e2;
    color: black;
    transition: 0.4s;
}

