.sidebar {
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #1d1f27;
    height: 100%;
    padding-top: 2rem;
    border-right: 1px solid #8783f1;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
    transition: width 0.4s ease-in-out;
    overflow: hidden;
}

.sidebar:hover {
    width: 20%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    padding-left: 0;
}

.sidebar li {
    list-style: none;
}

.sidebar-btn {
    width: 90%;
    padding: 10px;
    background-color: #343434;
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
    text-align: left;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    padding-left: 1rem;
}

.nes {
    z-index: 1000000;
    position: fixed;
    width: auto;
}

.nes1 {
    display: none;
    z-index: 1000000;
    position: fixed;
}

.s-show {
    left: 0% !important;
}


.sidebar-btn .icon {
    font-size: 1.2rem;
}

.sidebar-btn:hover {
    background-color: #1d41b9;
    transform: scale(1.05); 
}

.sidebar-btn:focus {
    outline: none;
}

.sidebar-logout {
    margin-top: auto;
    padding-bottom: 1rem; 
}

.sidebar-logout .sidebar-btn:hover {
    background-color: #c0392b; 
}

@media (max-width: 1340px) {

    .sidebar-btn {
        display: flex;
        justify-content: center;    
    }

    .sidebar-btn > span {
        display: none;
    }
}

@media (max-width: 850px) {
    .sidebar {
        z-index: 100000;
        width: 100% !important;
        transition: 1s;
    }

    .sidebar-btn > span {
        display: block;
    }

    .nes1 {
        display: block;
        color: black;
        padding: 10px 10px;
    }

    .sidebar-btn {
        width: 100%;
        border-radius: 0;
    }

    .s-noshow {
        left: -100% !important;
    }
    
}

/* @media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar:hover {
        width: 150px; 
    }

    .sidebar-btn {
        justify-content: center;
        padding-left: 0;
        font-size: 0; 
    }

    .sidebar-btn .icon {
        font-size: 1.5rem;
    }

    .sidebar-btn:hover {
        font-size: 1.1rem; 
        justify-content: flex-start;
        padding-left: 1rem;
    }
} */
