.primary-textbar {
    border: 1px solid #2f2d6a;
    color: #2f2d6a;
    background-color: #e0e0e0;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 1rem 0;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.primary-textbar:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.required-icon {
    color: red;
    margin-left: 5px;
    font-size: 0.9em; 
}

.error-input {
    border-color: #e74c3c;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}
  
.error-message {
    color: #e74c3c;
    font-size: 0.875rem;
    margin-left: 10px;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
    color: #333;
}

.textbar-s {
    width: 4rem;
}

.textbar-m {
    width: 8rem;
}

.textbar-l {
    width: 12rem;
}

.textbar-xl {
    width: 16rem;
}

.textbar-xxl {
    width: 20rem;
}