/* Fondo con degradado */
.trainUp-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    min-height: 100vh;
    color: white;
}

.landing-header h1 {
    font-size: 14rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2rem;
    white-space: nowrap;
    word-spacing: 1rem; 
    margin: 0;
}
  
.landing-header h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -2rem;
    letter-spacing: 10px;
    color: #2f2d6a;
    margin-bottom: 1rem;
}

.landing-features{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.landing-features h2{
    color: #494949;
    font-size: 2.5rem;
}

.landing-com {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.feature-item {
    background-color: #ffffff; 
    color: #000000;
    border-radius: 12px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    max-width: 400px;
    text-align: center;
    margin: 1rem;
}
  
.feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}
  
.feature-item p {
    font-size: 1rem; 
    color: #555555; 
}
  
.feature-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
    cursor: pointer; 
}
  

  

  

  
 